
<div class="row">
    <button class="bt btn-success btn-block" routerLink="/">Regresar </button>
    <div class="col-md-4 offset-md-4">
        
            <div class="card-body">
                <form action="">
                    
                    <div class="form-group">
                        <input type="text" name="correo"  placeholder="correo" class="form-contrl" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="contrasenna" placeholder="contrasenna" class="form-contrl" autofocus>
                    </div>
                    
                    <button class="bt btn-success btn-block" > Registrar </button> 
                    <label></label>  
                    
                </form>
                
            </div>
            
        
    </div>
</div>