h1 {
    font-size: 2.3em;
    font-weight: bold;
    color: black;
    top: -60px;
    position: relative;
    left: -5px;
  }
.myform {
font-family:cursive; 
  position: relative;
    padding: 100px;
    margin-left: auto;
  margin-right: auto;
    background-color: #5a76c44f;
    max-width: fit-content;
    color: rgb(15, 15, 15);
    box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.5);
    
    
    
}
.btn {
    font-family:cursive;
    width: 250px;
    font-weight: 800;
    background-color: #fff;
    border-radius: 1;
    padding: 0.5em 0;
    position: relative;
  top: 20px;
  left: 3px;
  }
  .btn:hover {
    background-color: inherit;
    color: rgb(1, 42, 105);
    border-color: rgb(1, 42, 105);
  }
  .formControl {
    position: relative;
  bottom: 10;
  right: -67px;
  width: 150px;
  border: 1px solid #000000;
  
   
    
  }
  .passControl{
    position: relative;
  bottom: 10;
  right: -36px;
  width: 150px;
  border: 1px solid #000000;
  }

  .regis{
    position: relative;
  top: -10px;
  left: 110px;
  }
  .divcontra{
    position: relative;
    top: -50px;
    left: 100px;
    max-width: 100%;
    font-size: 13px;
  }
  

 