
<div class="container mb-3">
<div class="login">
    <div class="myform">
        <h1 class="text-center">Iniciar Sesion</h1>
        <form class="inputs">
            <div class="mb-3">
                <label>User </label>
                <input  
                        type="email" 
                        name="usuario" 
                        class="formControl" 
                        #box 
                        >
                
            </div>
            <div class="mb-3">
                <label >Password </label>
                <input type="password" name="pass"  class="passControl" #box2>
            </div>
            <div class="mb-3">
                <button  type="button" class="btn" (click)="getValue(box.value)" (click)="getValue2(box2.value)" (click)="compararUsuarios()">LOGIN</button>
                <div class="divcontra mb-3"><a class="contraOlvidada" routerLink="/recuperar" >Contraseña Olvidada?</a></div>
                <a class="regis" routerLink="/regis">Registrar</a>
            </div>
            
            
        </form>
    </div>
</div>
</div>