<app-navigation></app-navigation>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Usuario: {{ datos.usuario }}</h5>
      <p class="card-text">
        Nombres: {{ datos.nombres }} <br>
        Apellidos: {{ datos.apellidos }}  <br>
        Correo: {{ datos.correo }}<br>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>CURSOS GANADOS:</b></li>
      <div ngForm="let curso of cursos">
        <li class="list-group-item">curso 1</li>
        <li class="list-group-item">curso 2</li>
      </div>
    </ul>
    <div class="card-body">
      <a class="card-link">Editar perfil</a>
    </div>
  </div>